# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "103.86.50.176:30120"
endpoint_add_udp "103.86.50.176:30120"

set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=hnomkeng_fivem;userid=hnomkeng;password=Deathnote1#"

# Initialize System Main Files
start mapmanager
start chat
start spawnmanager
start scoreboard
#start sessionmanager
start fivem
#start hardcap
start rconlog
#start playernames

# Starting Mysql-async
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2
#start async

# All Feature
start TimeAndDateDisplay
#start simplebanking
start SexySpeedometer

# Essential mode
start es_extended
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_addonaccount
start esx_jobs
#start esx_animations
#start question_rp

sv_scriptHookAllowed 0

# change this
rcon_password yay

sv_hostname "Hnomkeng Colocation | RolePlay | www.hnomkeng.com | Thailand (Server 1)"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey 5bhjpgjc20vu978ijwnb656nfzrek246